flows/CreateSalesOrderv2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>So we can figure out whether to update stuff or create new stuff.</description>
        <name>getObjectName</name>
        <label>Get Object Type</label>
        <locationX>1927</locationX>
        <locationY>420</locationY>
        <actionName>UTIL_getObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionObjectName</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIdStrings</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varObjectName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Pricebook1</name>
        <label>Assign Pricebook</label>
        <locationX>1453</locationX>
        <locationY>3191</locationY>
        <assignmentItems>
            <assignToReference>getPricebooks_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProfessionalPricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNumberOfPricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook2</name>
        <label>Assign Pricebook</label>
        <locationX>1730</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>getPricebooks_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNoordhoffPricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNumberOfPricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricebook3</name>
        <label>Assign Pricebook</label>
        <locationX>2029</locationX>
        <locationY>3059</locationY>
        <assignmentItems>
            <assignToReference>getPricebooks_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPricebook1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNumberOfPricebooks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_method</name>
        <label>Assign Shipping method</label>
        <locationX>2383</locationX>
        <locationY>4256</locationY>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Cost Exempt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionLineItemShipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ShippingCostExempt</name>
        <label>Assign ShippingCostExempt</label>
        <locationX>2823</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>varShippingCostExempt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Courier_Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Purchasing Group as Bill to from account</description>
        <name>assignAccount</name>
        <label>assignAccount</label>
        <locationX>1816</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>varBillToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.PurchasingGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getBillToDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the accounts filled default ship to account</description>
        <name>assignAccountAsShipTo</name>
        <label>assignAccountAsShipTo</label>
        <locationX>1833</locationX>
        <locationY>2457</locationY>
        <assignmentItems>
            <assignToReference>varShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getShipToDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccountId</name>
        <label>assignAccountId</label>
        <locationX>1928</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractPeriodType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CustomDate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We need to assign different methods for different billto&apos;s</description>
        <name>assignBillToMethods</name>
        <label>assignBillToMethods</label>
        <locationX>1954</locationX>
        <locationY>2188</locationY>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBillToDetails.ShippingCostMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBillToDetails.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPalletRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBillToDetails.PalletRegistrationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decShiptTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractID</name>
        <label>assignContractID</label>
        <locationX>2805</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>varContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContractDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We might as well set the variables for all methods in the next step so we have default values in our Quick Choice Picklists</description>
        <name>assignContractPricebookAndMethods</name>
        <label>assignContractPricebookAndMethods</label>
        <locationX>2809</locationX>
        <locationY>3715</locationY>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.Pricebook2.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.ShippingCostMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractVariables</name>
        <label>assignContractVariables</label>
        <locationX>782</locationX>
        <locationY>1606</locationY>
        <assignmentItems>
            <assignToReference>IsContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isNewOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Contract.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Pricebook2.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenUpdateThisOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractVariables_0</name>
        <label>assignContractVariables</label>
        <locationX>1263</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>IsContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isNewOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Pricebook2.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenUpdateThisOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractVariables_0_0</name>
        <label>assignContractVariables</label>
        <locationX>2497</locationX>
        <locationY>4685</locationY>
        <assignmentItems>
            <assignToReference>IsContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isNewOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varShipToParty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subflowOrderProductSelector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractVariables_0_0_0</name>
        <label>assignContractVariables</label>
        <locationX>547</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>IsContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isNewOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContractDetails.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionUpdateOrCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignContractVariables_0_0_0_0</name>
        <label>assignContractVariables</label>
        <locationX>986</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>IsContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isNewOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenUpdateThisOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDefault_useWarehouseReference</name>
        <label>assignDefault useWarehouseReference</label>
        <locationX>1741</locationX>
        <locationY>3932</locationY>
        <assignmentItems>
            <assignToReference>useWarehouseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ShippingCostExempt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Default Bill To from account</description>
        <name>assignDefaultBillTo</name>
        <label>assignDefaultBillTo</label>
        <locationX>2077</locationX>
        <locationY>1709</locationY>
        <assignmentItems>
            <assignToReference>varBillToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.DefaultBillto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getBillToDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDefaultPricing</name>
        <label>assignDefaultPricing</label>
        <locationX>1394</locationX>
        <locationY>3625</locationY>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderPricingMdt.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the accounts filled default ship to account</description>
        <name>assignDefaultShipTo</name>
        <label>assignDefaultShipTo</label>
        <locationX>2070</locationX>
        <locationY>2455</locationY>
        <assignmentItems>
            <assignToReference>varShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.DefaultShipTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getShipToDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLineItemShipping</name>
        <label>assignLineItemShipping</label>
        <locationX>1947</locationX>
        <locationY>4389</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createOrderNoShipping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLineItemShipping_0</name>
        <label>assignLineItemShipping</label>
        <locationX>323</locationX>
        <locationY>3224</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignUpdateOrderVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLineItemShipping_0_0</name>
        <label>assignLineItemShipping</label>
        <locationX>1133</locationX>
        <locationY>4899</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subflowOrderProductSelector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignMethods</name>
        <label>assignMethods</label>
        <locationX>2289</locationX>
        <locationY>3923</locationY>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistPricingMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBillToDetails.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCustomerReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnableLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEnableMultipleShippingLocations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputShippingComplete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputShipByDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBillToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceBillTo.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choiceShipTo.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCourierInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCourierInformation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDeliveryEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDeliveryPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Preferred_Courier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoLineItemShipping</name>
        <label>assignNoLineItemShipping</label>
        <locationX>2401</locationX>
        <locationY>4402</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnableLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getFinalShipTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoLineItemShipping_0</name>
        <label>assignNoLineItemShipping</label>
        <locationX>775</locationX>
        <locationY>3228</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignUpdateOrderVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNoLineItemShipping_0_0</name>
        <label>assignNoLineItemShipping</label>
        <locationX>1421</locationX>
        <locationY>4403</locationY>
        <assignmentItems>
            <assignToReference>varLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subflowOrderProductSelector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Checks the total amount of pricebooks. Later, we can decide that if the count = 1, we can skip the decision to show Price Book screen.</description>
        <name>assignNumberOfPricebooks</name>
        <label>assignNumberOfPricebooks</label>
        <locationX>2116</locationX>
        <locationY>3184</locationY>
        <assignmentItems>
            <assignToReference>varCountCollections</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getPricebooks_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decSkipPriceBookScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOnlyShipComplete</name>
        <label>Assign Only Ship Complete</label>
        <locationX>2131</locationX>
        <locationY>1213</locationY>
        <assignmentItems>
            <assignToReference>varShipComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.ShipComplete__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decBillTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderId</name>
        <label>assignOrderId</label>
        <locationX>914</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>varOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContractUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOrderDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOrderUpdateVariables</name>
        <label>assignOrderUpdateVariables</label>
        <locationX>537</locationX>
        <locationY>2041</locationY>
        <assignmentItems>
            <assignToReference>varOrderEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShippingCostMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.ShippingCostMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnableLineItemShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.MultipleShippingLocations__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShipComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.ShipComplete__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.CustomerReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCourierInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.CourierInformation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCourier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Courier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryRouting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.DeliveryRouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCourierWholeSalerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.CourierWholeSalerId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPalletRegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Billto__r.PalletRegistrationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.DeliveryEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.DeliveryPhone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUseWarehouseRefference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We needs some variables to be bound so we can proceed to the subflow.</description>
        <name>assignOrderVariables</name>
        <label>assignOrderVariables</label>
        <locationX>958</locationX>
        <locationY>3134</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Pricebook2.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionLineItemShipping_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We might as well set the variables for all methods in the next step so we have default values in our Quick Choice Picklists</description>
        <name>assignPricebook</name>
        <label>assignPricebook</label>
        <locationX>1922</locationX>
        <locationY>3502</locationY>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatablePricebook.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatablePricebook.outputSelectedRow.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>datatablePricebook.outputSelectedRow.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOrderPricingTableMdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We might as well set the variables for all methods in the next step so we have default values in our Quick Choice Picklists</description>
        <name>assignPricebook_0</name>
        <label>assignPricebook</label>
        <locationX>2323</locationX>
        <locationY>3552</locationY>
        <assignmentItems>
            <assignToReference>varPricebook</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSinglePriceBookAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSinglePriceBookAssignment.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenOrderDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPricingMethod</name>
        <label>assignPricingMethod</label>
        <locationX>1316</locationX>
        <locationY>3786</locationY>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOrderPricingMdt.PricingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenOrderDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign account as BillTo</description>
        <name>assignPurchasingGroup</name>
        <label>assignPurchasingGroup</label>
        <locationX>1953</locationX>
        <locationY>1702</locationY>
        <assignmentItems>
            <assignToReference>varBillToParty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getBillToDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We needs some variables to be bound so we can proceed to the subflow.</description>
        <name>assignUpdateOrderVariables</name>
        <label>assignUpdateOrderVariables</label>
        <locationX>543</locationX>
        <locationY>3939</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputUpdateOrderPricingMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPaymentMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputUpdateOrderPaymentMethod.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputUpdateOrderEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputUpdateOrderStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UseWarehouseRefferenceOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUseWarehouseRefference</name>
        <label>assignUseWarehouseRefference</label>
        <locationX>1954</locationX>
        <locationY>2725</locationY>
        <assignmentItems>
            <assignToReference>useWarehouseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountDetails.WarehouseReferenceActive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignVarNumberOfRelatedAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignUseWarehouseRefferenceContract</name>
        <label>assignUseWarehouseRefference</label>
        <locationX>2325</locationX>
        <locationY>3652</locationY>
        <assignmentItems>
            <assignToReference>useWarehouseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Info.WarehouseReferenceActive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenOrderDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVarNumberOfRelatedAccounts</name>
        <label>assignVarNumberOfRelatedAccounts</label>
        <locationX>2123</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfRelatedAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getRelatedAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decBlocked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyWarehouseRefferenceAccount</name>
        <label>Empty Warehouse refference</label>
        <locationX>2347</locationX>
        <locationY>4141</locationY>
        <assignmentItems>
            <assignToReference>warehouseRefference</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Shipping_cost_exempt_decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EmptyWarehouseRefferenceOrder</name>
        <label>Empty Warehouse refference</label>
        <locationX>797</locationX>
        <locationY>4116</locationY>
        <assignmentItems>
            <assignToReference>warehouseRefference</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUseWarehouseRefference</name>
        <label>setUseWarehouseRefference</label>
        <locationX>529</locationX>
        <locationY>2747</locationY>
        <assignmentItems>
            <assignToReference>useWarehouseReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOrderDetails.WarehouseReferenceActive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screenOrderOverview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShippingExemptTrue</name>
        <label>ShippingExemptTrue</label>
        <locationX>2286</locationX>
        <locationY>3807</locationY>
        <assignmentItems>
            <assignToReference>varShippingCostExempt</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decOneShipTo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddOrders</name>
        <choiceText>Add orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>addOrders</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice to reflect start and end dates from 1st jan to 31st of dec</description>
        <name>choiceCalendarDates</name>
        <choiceText>Calender Year (1st of Jan to 31st of Dec)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>calendardates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCreateOrderItems</name>
        <choiceText>Create Order Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceCreateOrderItems</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceExempt</name>
        <choiceText>Exempt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exempt</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceFreeOrder</name>
        <choiceText>Free order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FreeOrder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceGroupBasedRate</name>
        <choiceText>Group Based Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GroupBasedRate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceInvoice</name>
        <choiceText>Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceLicenseUsageBased</name>
        <choiceText>License Usage Based</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LicenseUsageBasedRate</stringValue>
        </value>
    </choices>
    <choices>
        <description>Fill out the dates yourself</description>
        <name>choiceManualDate</name>
        <choiceText>Manual Date selection for start and end dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>manual</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceOrderTotalRate</name>
        <choiceText>Order Total Rate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OrderTotalRate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePrepayment</name>
        <choiceText>Prepayment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prepayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRegularOrder</name>
        <choiceText>Regular Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RegularOrder</stringValue>
        </value>
    </choices>
    <choices>
        <description>Option to choose a start date at 1 sept and end date at 31 aug.</description>
        <name>choiceSeasonDate</name>
        <choiceText>Season (1st Sept to 31st of Aug)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>seasondates</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceServiceOrder</name>
        <choiceText>Service Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ServiceOrder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpdateOrder</name>
        <choiceText>Update this order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceUpdateOrder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceUpdateOrders</name>
        <choiceText>Update orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>updateOrders</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceWeight</name>
        <choiceText>Weight</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Weight</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceYesBoolean</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>radionSingleBilltoSelection</name>
        <choiceText>I want to add an order to a single Bill-to Party</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>constant12ContractTerms</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>constantContract</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </constants>
    <constants>
        <description>Autorenewal</description>
        <name>constantContractRenewalType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-Renewal</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantInformatPricebook</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s3V000000T8WNQA0</stringValue>
        </value>
    </constants>
    <constants>
        <description>Yearly</description>
        <name>constantInvoiceFrequency</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yearly</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantOrderStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <description>License Agreement</description>
        <name>constantOrderype</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RegularOrder</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks whether 1 Default Billto is filled, if not, purchasing group.</description>
        <name>decBillTo</name>
        <label>decBillTo</label>
        <locationX>1932</locationX>
        <locationY>1553</locationY>
        <defaultConnector>
            <targetReference>assignPurchasingGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>defaultBillToFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.DefaultBillto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefaultBillTo</targetReference>
            </connector>
            <label>defaultBillToFilled</label>
        </rules>
        <rules>
            <name>PurchasingGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.PurchasingGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAccount</targetReference>
            </connector>
            <label>PurchasingGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>decBlocked</name>
        <label>decBlocked</label>
        <locationX>2106</locationX>
        <locationY>2854</locationY>
        <defaultConnector>
            <targetReference>PriceBookSearch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blocked</defaultConnectorLabel>
        <rules>
            <name>isBlocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBillToDetails.Blocked__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenCreditWarning</targetReference>
            </connector>
            <label>isBlocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionHasContract</name>
        <label>decisionHasContract</label>
        <locationX>908</locationX>
        <locationY>1387</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>HasNoContractHasPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractVariables_0</targetReference>
            </connector>
            <label>Has No Contract, has pricebook</label>
        </rules>
        <rules>
            <name>HasNoContractHasNoPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractVariables_0_0_0_0</targetReference>
            </connector>
            <label>Has No Contract, Has No Pricebook</label>
        </rules>
        <rules>
            <name>HasContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractVariables</targetReference>
            </connector>
            <label>Has Contract</label>
        </rules>
        <rules>
            <name>HasContractandUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractVariables_0_0_0</targetReference>
            </connector>
            <label>Has Contract and Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLineItemShipping</name>
        <label>decisionLineItemShipping</label>
        <locationX>2172</locationX>
        <locationY>4378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LineItemShipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEnableMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLineItemShipping</targetReference>
            </connector>
            <label>Line Item Shipping</label>
        </rules>
        <rules>
            <name>NoLineItemShipping</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inputEnableMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputEnableMultipleShippingLocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNoLineItemShipping</targetReference>
            </connector>
            <label>No Line Item Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLineItemShipping_0</name>
        <label>decisionLineItemShipping</label>
        <locationX>530</locationX>
        <locationY>3224</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LineItemShipping_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputUpdateOrderMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLineItemShipping_0</targetReference>
            </connector>
            <label>Line Item Shipping</label>
        </rules>
        <rules>
            <name>NoLineItemShipping_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputUpdateOrderMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNoLineItemShipping_0</targetReference>
            </connector>
            <label>No Line Item Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLineItemShipping_0_0</name>
        <label>decisionLineItemShipping</label>
        <locationX>949</locationX>
        <locationY>3346</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LineItemShipping_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.MultipleShippingLocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignLineItemShipping_0_0</targetReference>
            </connector>
            <label>Line Item Shipping</label>
        </rules>
        <rules>
            <name>NoLineItemShipping_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.MultipleShippingLocations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignNoLineItemShipping_0_0</targetReference>
            </connector>
            <label>No Line Item Shipping</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionObjectName</name>
        <label>Decide on object name</label>
        <locationX>1919</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAccountId</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderId</targetReference>
            </connector>
            <label>Order</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractID</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionStandAloneOrder</name>
        <label>decisionStandAloneOrder</label>
        <locationX>2169</locationX>
        <locationY>4555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standalone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContractUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractVariables_0_0</targetReference>
            </connector>
            <label>Standalone</label>
        </rules>
        <rules>
            <name>contractOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContractUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowOrderProductSelector</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionUpdateOrCreate</name>
        <label>decisionUpdateOrderOrCreateOrderItems</label>
        <locationX>943</locationX>
        <locationY>2910</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>selectedUpdateOrderNoPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountDetails</targetReference>
            </connector>
            <label>Update Order No Pricebook</label>
        </rules>
        <rules>
            <name>UpdateOrderHasPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputUpdateOrderOrCreateOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceUpdateOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderUpdateVariables</targetReference>
            </connector>
            <label>UpdateOrderHasPricebook</label>
        </rules>
        <rules>
            <name>CreateOrderItemHasPricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputUpdateOrderOrCreateOrderItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceCreateOrderItems</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderVariables</targetReference>
            </connector>
            <label>CreateOrderItemHasPricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>decOneShipTo</name>
        <label>Is there only 1 different ship to?</label>
        <locationX>1880</locationX>
        <locationY>4009</locationY>
        <defaultConnector>
            <targetReference>assignMethods</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_only_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEnableMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfRelatedAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varShipToParty</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenOnly1OtherShipToAccountAvailable</targetReference>
            </connector>
            <label>There is only 1</label>
        </rules>
        <rules>
            <name>There_are_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEnableMultipleShippingLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varNumberOfRelatedAccounts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varShipToParty</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignMethods</targetReference>
            </connector>
            <label>There are more</label>
        </rules>
    </decisions>
    <decisions>
        <name>decShiptTo</name>
        <label>decShiptTo</label>
        <locationX>1952</locationX>
        <locationY>2338</locationY>
        <defaultConnector>
            <targetReference>assignAccountAsShipTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default account</defaultConnectorLabel>
        <rules>
            <name>defaultShipToFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.DefaultShipTo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefaultShipTo</targetReference>
            </connector>
            <label>defaultShipToFilled</label>
        </rules>
    </decisions>
    <decisions>
        <description>If varCount = 1 skip the screen.</description>
        <name>decSkipPriceBookScreen</name>
        <label>decSkipPriceBookScreen</label>
        <locationX>2112</locationX>
        <locationY>3346</locationY>
        <defaultConnector>
            <targetReference>screenChoosePricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Price Book Screen</defaultConnectorLabel>
        <rules>
            <name>SkipPriceBookScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountCollections</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSinglePriceBookAssignment</targetReference>
            </connector>
            <label>Skip Price Book Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Discount_Group_Pricing_Method</name>
        <label>Found Discount Group Pricing Method</label>
        <locationX>1202</locationX>
        <locationY>3346</locationY>
        <defaultConnector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_Group_Pricing_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopOrderPricingMdt.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getBillToDetails.CustomerDiscountGroup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPricingMethod</targetReference>
            </connector>
            <label>Discount Group Pricing Method</label>
        </rules>
        <rules>
            <name>Pricing_Method_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Get_Default_Pricing_Method.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefaultPricing</targetReference>
            </connector>
            <label>Pricing Method Default</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CourierWholeSalerId</name>
        <label>Has CourierWholeSalerId</label>
        <locationX>2808</locationX>
        <locationY>4017</locationY>
        <defaultConnector>
            <targetReference>Courier_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CourierWholeSalerIdBlank</defaultConnectorLabel>
        <rules>
            <name>CourierWholeSalerIdPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCourierWholeSalerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ShippingCostExempt</targetReference>
            </connector>
            <label>CourierWholeSalerIdPopulated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Preferred_Courier</name>
        <label>Has Preferred Courier</label>
        <locationX>2471</locationX>
        <locationY>4026</locationY>
        <defaultConnector>
            <targetReference>getFinalBillTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Courier No</defaultConnectorLabel>
        <rules>
            <name>Courier_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCourier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryRouting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_CourierWholeSalerId</targetReference>
            </connector>
            <label>Courier Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_useWarehouseReference_NULL</name>
        <label>Is useWarehouseReference NULL</label>
        <locationX>1824</locationX>
        <locationY>3803</locationY>
        <defaultConnector>
            <targetReference>ShippingCostExempt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Boolean  Value</defaultConnectorLabel>
        <rules>
            <name>Null_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useWarehouseReference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDefault_useWarehouseReference</targetReference>
            </connector>
            <label>Null Value</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for activation</description>
        <name>isOrderActivated</name>
        <label>isOrderActivated</label>
        <locationX>910</locationX>
        <locationY>1120</locationY>
        <defaultConnector>
            <targetReference>decisionHasContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Draft</defaultConnectorLabel>
        <rules>
            <name>ActivatedValidDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.EffectiveDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenActivatedOrder</targetReference>
            </connector>
            <label>ActivatedValidDate</label>
        </rules>
        <rules>
            <name>ActivatedInvalidDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails.EffectiveDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getOrderDetails.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenActivatedOrder</targetReference>
            </connector>
            <label>ActivatedInvalidDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>isUpdate</name>
        <label>isUpdate</label>
        <locationX>1925</locationX>
        <locationY>1212</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOrderUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOrderUpdateVariables</targetReference>
            </connector>
            <label>is Order Update</label>
        </rules>
        <rules>
            <name>IsNoUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOnlyShipComplete</targetReference>
            </connector>
            <label>Is no update</label>
        </rules>
    </decisions>
    <decisions>
        <name>PriceBookSearch</name>
        <label>PriceBook Search</label>
        <locationX>1729</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>No_Pricebook_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NHProfessional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isPrimaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isSecondaryEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isHigherEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isVocationalEducation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.IsSims__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProfessionalPricebook</targetReference>
            </connector>
            <label>NH Professional</label>
        </rules>
        <rules>
            <name>Noordhoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noordhoff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.isProfessional__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNoordhoffPricebook</targetReference>
            </connector>
            <label>Noordhoff</label>
        </rules>
        <rules>
            <name>Plantyn_Liber</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plantyn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPricebook1</targetReference>
            </connector>
            <label>Plantyn/Liber</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_cost_exempt_decision</name>
        <label>Shipping cost exempt</label>
        <locationX>2179</locationX>
        <locationY>4258</locationY>
        <defaultConnector>
            <targetReference>decisionLineItemShipping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Cost_Exempt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_method</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShippingCostExempt</name>
        <label>ShippingCostExempt</label>
        <locationX>2079</locationX>
        <locationY>3802</locationY>
        <defaultConnector>
            <targetReference>decOneShipTo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isShippingCostExempt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>picklistOrderType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceFreeOrder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>picklistOrderType2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceServiceOrder</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shipping_Cost_Exempt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShippingExemptTrue</targetReference>
            </connector>
            <label>isShippingCostExempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseWarehouseRefferenceAccount</name>
        <label>Use Warehouse refference</label>
        <locationX>2185</locationX>
        <locationY>4168</locationY>
        <defaultConnector>
            <targetReference>EmptyWarehouseRefferenceAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WRA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useWarehouseReference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_cost_exempt_decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UseWarehouseRefferenceOrder</name>
        <label>Use warehouse refference?</label>
        <locationX>539</locationX>
        <locationY>4116</locationY>
        <defaultConnector>
            <targetReference>EmptyWarehouseRefferenceOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WRO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>useWarehouseReference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow as input for ordering without contracts (no renewals, one-offs).
20210113: WK - Added a track for updating existing orders and using an existing order to move on to the next step.
20210117: WK - several bug-fixes.
20210121: WK - deleted: pricebook screens, pricebook selection, options to halt the process. Added functionality that matches users salesorservice against pricebook salesorservice to get correct pricebooks.
20210201: Added shipping address information to the order.
20210201: Now runs with sharing rules access enforced
20210210: Pricing method is now gathered from Pricebook instead of account, or from user input.
20210217: Killed order start dates based on calendar and seasonal. Went to Ship By Date and is autofiled with today.
20210302: Renamed Enable Line Item Shipping to Multiple Shipping Locations
20210318: Moved Shipping locations and other fields to top of screen, added logic for finding ship to and bill to. Added those to the order, variables shipping cost and payment method are always from the bill to now but can be changed.
20210319: Shipping cost method required. Created an update loop. Stupid but &apos;Required&apos; doesn&apos;t work on quick choice.
20210322: Component visibilty caused required fields to mess up, deleted Help texts.
20210328: Introduced visibilty on Multiple Shipping Locations. Hopefully it won&apos;t wreck Required fields.
20210328: Reversing MSL logic: only look downward for related accounts, not upwards.
20210331: Fixed a bug with shipping cost method. Added logic for multiple shipto&apos;s when there&apos;s only 1, related accounts are fetched from the bill-to, not the initial account (but they could be the same).
20210331: At the end of the flow, the account id passed on to the next is the Ship-To party. This could be the same as the initial account or something that has been passed in a screen.
20210401: Opco is now retrieved from the bill-to account.
20210407: Removed QuickChoice for order types because we have to filter values. Now a normal picklist with custom choices.
20210408: On request of Sabah and Rogier, Shipping Cost is not required anymore.
20210517: AssignPricebook now has a dummy variable to circumvent deployment issues.
20210517: AssignPricebook original settings reverted.
20210518: Added bill-to block screen. Changed the sequence of the flow to first get the bill-to, block reason and then move forward with pricebooks.
20211025: made Paymentmethod only show and not changable
20211209: JK added selection of warehouseRefference
20220503: CH added error reason for proforma block
20220610: DB added Only Ship Complete Assignment from Account to Order Screen
20220620: CH fixed the setting of the billing address to use address info from the selected Bill To (varBillToParty)
20220824: CH added Courier Information
20220902: DB useWarehouseReference Null value temp fix
20220920: CH added additional courier information logic and assignment
20221018: CH added pallet registration number
20221125: CH changed flow to run in system context
20221201: MV changed flow to run in system context with sharing
20221202: CH added OpCo filter for pricebooks
20221213: DB modified pricebook selection to include (NH) Professional if applicable
20230220: CH Added delivery phone and delivery email mapping</description>
    <dynamicChoiceSets>
        <name>choicePreferredCourier</name>
        <dataType>String</dataType>
        <displayField>FlowLabel__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PreferredCourier__c</object>
        <outputAssignments>
            <assignToReference>varCourier</assignToReference>
            <field>Courier__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliveryRouting</assignToReference>
            <field>DeliveryRouting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCourierWholeSalerId</assignToReference>
            <field>WholeSalerId__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>courierPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Courier__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryRoutingChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeliveryRouting__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formShipByDate</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>formulaCalendarOrderEndDate</name>
        <dataType>Date</dataType>
        <expression>date(YEAR(today())+1,12,31)</expression>
    </formulas>
    <formulas>
        <name>formulaCalendarOrderStartDate</name>
        <dataType>Date</dataType>
        <expression>date(YEAR(today())+1,1,1)</expression>
    </formulas>
    <formulas>
        <name>formulaSeasonalOrderEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
				(TODAY() &gt; date(YEAR(TODAY()),8,31)),
        date(YEAR(today())+2,8,31),
			 date(YEAR(today())+1,8,31)
	 )</expression>
    </formulas>
    <formulas>
        <name>formulaSeasonalOrderStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
				(TODAY() &gt; date(YEAR(TODAY()),8,31)),
        date(YEAR(today())+1,9,1),
			 date(YEAR(today()),9,1)
	 )</expression>
    </formulas>
    <interviewLabel>Create Sales Order  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Order</label>
    <loops>
        <name>LoopOrderPricingMdt</name>
        <label>LoopOrderPricingMdt</label>
        <locationX>1457</locationX>
        <locationY>3354</locationY>
        <collectionReference>GetOrderPricingTableMdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Found_Discount_Group_Pricing_Method</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screenOrderDetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We need to get the pricebook out of the collection :)</description>
        <name>loopSinglePriceBookAssignment</name>
        <label>loopSinglePriceBookAssignment</label>
        <locationX>2324</locationX>
        <locationY>3348</locationY>
        <collectionReference>getPricebooks_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPricebook_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createOrderNoShipping</name>
        <label>createOrderNoShipping</label>
        <locationX>1937</locationX>
        <locationY>4598</locationY>
        <assignRecordIdToReference>varOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>decisionStandAloneOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddressNote__c</field>
            <value>
                <elementReference>getAccountDetails.BillingAddressNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>getFinalBillTo.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>getFinalBillTo.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>getFinalBillTo.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>getFinalBillTo.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>getFinalBillTo.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billto__c</field>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourierInformation__c</field>
            <value>
                <elementReference>varCourierInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourierWholeSalerId__c</field>
            <value>
                <elementReference>varCourierWholeSalerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courier__c</field>
            <value>
                <elementReference>varCourier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerReference__c</field>
            <value>
                <elementReference>varCustomerReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryEmail__c</field>
            <value>
                <elementReference>varDeliveryEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryPhone__c</field>
            <value>
                <elementReference>varDeliveryPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryRouting__c</field>
            <value>
                <elementReference>varDeliveryRouting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>varOrderStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>varOrderEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultipleShippingLocations__c</field>
            <value>
                <elementReference>varEnableLineItemShipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>getFinalBillTo.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PalletRegistrationNumber__c</field>
            <value>
                <elementReference>varPalletRegistrationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>varPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingMethod__c</field>
            <value>
                <elementReference>varPricingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipComplete__c</field>
            <value>
                <elementReference>varShipComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipbyDate__c</field>
            <value>
                <elementReference>inputShipByDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostExempt__c</field>
            <value>
                <elementReference>varShippingCostExempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostMethod__c</field>
            <value>
                <elementReference>varShippingCostMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>constantOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>picklistOrderType2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseReferenceActive__c</field>
            <value>
                <elementReference>useWarehouseReference</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>createOrderShipping</name>
        <label>createOrderShipping</label>
        <locationX>2458</locationX>
        <locationY>4546</locationY>
        <assignRecordIdToReference>varOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>decisionStandAloneOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingAddressNote__c</field>
            <value>
                <elementReference>getAccountDetails.BillingAddressNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>getFinalBillTo.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>getFinalBillTo.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>getFinalBillTo.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>getFinalBillTo.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>getFinalBillTo.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billto__c</field>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourierInformation__c</field>
            <value>
                <elementReference>varCourierInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CourierWholeSalerId__c</field>
            <value>
                <elementReference>varCourierWholeSalerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Courier__c</field>
            <value>
                <elementReference>varCourier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerReference__c</field>
            <value>
                <elementReference>varCustomerReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryEmail__c</field>
            <value>
                <elementReference>varDeliveryEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryPhone__c</field>
            <value>
                <elementReference>varDeliveryPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryRouting__c</field>
            <value>
                <elementReference>varDeliveryRouting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>varOrderStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>varOrderEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultipleShippingLocations__c</field>
            <value>
                <elementReference>varEnableLineItemShipping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatingCompany__c</field>
            <value>
                <elementReference>getFinalBillTo.OperatingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PalletRegistrationNumber__c</field>
            <value>
                <elementReference>varPalletRegistrationNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>varPaymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingMethod__c</field>
            <value>
                <elementReference>varPricingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipComplete__c</field>
            <value>
                <elementReference>varShipComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipbyDate__c</field>
            <value>
                <elementReference>inputShipByDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingAddressNote__c</field>
            <value>
                <elementReference>getAccountDetails.ShippingAddressNotes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <stringValue>{!getFinalShipTo.ShippingCity} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostExempt__c</field>
            <value>
                <elementReference>varShippingCostExempt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostMethod__c</field>
            <value>
                <elementReference>varShippingCostMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>getFinalShipTo.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>getFinalShipTo.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>getFinalShipTo.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipto__c</field>
            <value>
                <elementReference>varShipToParty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>constantOrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>picklistOrderType2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseReferenceActive__c</field>
            <value>
                <elementReference>useWarehouseReference</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>2615</locationX>
        <locationY>3715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignUseWarehouseRefferenceContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the current account details.</description>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>1926</locationX>
        <locationY>1045</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isUpdate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBillToDetails</name>
        <label>getBillToDetails</label>
        <locationX>1951</locationX>
        <locationY>1997</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignBillToMethods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContractDetails</name>
        <label>getContractDetails</label>
        <locationX>2808</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContractOrders</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContractOrders</name>
        <label>getContractOrders</label>
        <locationX>2809</locationX>
        <locationY>1696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignContractPricebookAndMethods</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinalBillTo</name>
        <label>getFinalBillTo</label>
        <locationX>2195</locationX>
        <locationY>4022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UseWarehouseRefferenceAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinalShipTo</name>
        <label>getFinalShipTo</label>
        <locationX>2587</locationX>
        <locationY>4226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createOrderShipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShipToParty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNoordhoffPricebook</name>
        <label>getNoordhoffPricebook</label>
        <locationX>1632</locationX>
        <locationY>3015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pricebook2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PricebookType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOrderDetails</name>
        <label>getOrderDetails</label>
        <locationX>917</locationX>
        <locationY>886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isOrderActivated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderPricingTableMdt</name>
        <label>GetOrderPricingTableMdt</label>
        <locationX>1736</locationX>
        <locationY>3346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOrderPricingMdt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>datatablePricebook.outputSelectedRow.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>OperatingCompany__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getBillToDetails.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderPricingTable__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPricebook1</name>
        <label>getPricebook</label>
        <locationX>1847</locationX>
        <locationY>2970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pricebook3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProfessionalPricebook</name>
        <label>getProfessionalPricebook</label>
        <locationX>1453</locationX>
        <locationY>2839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pricebook1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountDetails.OperatingCompany__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PricebookType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets accounts that are related via ParentId, SalesAccount__c or PurchasingGroup__c</description>
        <name>getRelatedAccounts</name>
        <label>getRelatedAccounts</label>
        <locationX>1786</locationX>
        <locationY>2653</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignUseWarehouseRefference</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <filters>
            <field>PurchasingGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <filters>
            <field>SalesAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBillToParty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShipToDetails</name>
        <label>getShipToDetails</label>
        <locationX>1951</locationX>
        <locationY>2574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelatedAccounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varShipToParty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>988</locationX>
        <locationY>3939</locationY>
        <connector>
            <targetReference>decisionStandAloneOrder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerReference__c</field>
            <value>
                <elementReference>inputUpdateOrderCustomerReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>varOrderStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>varOrderEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultipleShippingLocations__c</field>
            <value>
                <elementReference>inputUpdateOrderMultipleShippingLocations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethod__c</field>
            <value>
                <elementReference>inputUpdateOrderPaymentMethod.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricingMethod__c</field>
            <value>
                <elementReference>inputUpdateOrderPricingMethod.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipComplete__c</field>
            <value>
                <elementReference>inputUpdateOrderShipComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCostMethod__c</field>
            <value>
                <elementReference>inputUpdateOrderShippingCost.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>inputUpdateOrderType.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseReferenceActive__c</field>
            <value>
                <elementReference>useWarehouseReference</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Courier_Confirmation_Screen</name>
        <label>Courier Confirmation Screen</label>
        <locationX>2536</locationX>
        <locationY>3900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getFinalBillTo</targetReference>
        </connector>
        <fields>
            <name>displayCourierDetails</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Courier Details:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayCourierInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Courier:&lt;/strong&gt; {!varCourier}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Delivery Routing:&lt;/strong&gt; {!varDeliveryRouting}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;WholeSalerId:&lt;/strong&gt; {!varCourierWholeSalerId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ShippingCostExempt:&lt;/strong&gt; {!varShippingCostExempt}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>3477</locationX>
        <locationY>2593</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Please provide the following information to support:&lt;/p&gt;&lt;p&gt;Record: {!recordId}&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Pricebook_Screen</name>
        <label>No Pricebook Screen</label>
        <locationX>1633</locationX>
        <locationY>2664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoPricebookText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;No Pricebook can be selected for this Operating Company and Segments value combination on the Account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Operating Company: &lt;/strong&gt;{!getAccountDetails.OperatingCompany__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Primary Education: &lt;/strong&gt;{!getAccountDetails.isPrimaryEducation__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Secondary Education: &lt;/strong&gt;{!getAccountDetails.isSecondaryEducation__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Higher Education: &lt;/strong&gt;{!getAccountDetails.isHigherEducation__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vocational Education: &lt;/strong&gt;{!getAccountDetails.isVocationalEducation__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Professional: &lt;/strong&gt;{!getAccountDetails.isProfessional__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;SIMS:&lt;/strong&gt; {!getAccountDetails.IsSims__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenActivatedOrder</name>
        <label>screenActivatedOrder</label>
        <locationX>684</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textActivatedOrder</name>
            <fieldText>&lt;p&gt;We can not edit orders that have been activated. This order has already been sent to NetSuite for processing. Please create a new order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenChoosePricebook</name>
        <label>Choose a pricebook</label>
        <locationX>1912</locationX>
        <locationY>3342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignPricebook</targetReference>
        </connector>
        <fields>
            <name>textInformationPricebook</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Choose a Pricebook&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please choose a Pricebook for your Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>datatablePricebook</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Pricebook2</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getPricebooks_var</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name, SalesSeason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenCreditWarning</name>
        <label>screenCreditWarning</label>
        <locationX>2298</locationX>
        <locationY>2848</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PriceBookSearch</targetReference>
        </connector>
        <fields>
            <name>textCreditWarning</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 16px;&quot;&gt;Warning:&lt;/u&gt;&lt;/p&gt;&lt;p&gt;The bill-to Party &lt;b&gt;{!getBillToDetails.Name}&lt;/b&gt; is blocked for billing.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>textBlockedReason</name>
            <fieldText>&lt;p&gt;The reason for the billing block:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!getBillToDetails.BlockReason__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getBillToDetails.BlockReason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getBillToDetails.BlockReason__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Proforma</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ProformaBlockMsg</name>
            <fieldText>&lt;p style=&quot;user-select: auto;&quot;&gt;The reason for the billing block:&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;b style=&quot;user-select: auto;&quot;&gt;The account is prepayment&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getBillToDetails.BlockReason__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getBillToDetails.BlockReason__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Proforma</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getBillToDetails.PaymentMethod__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Prepayment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOnly1OtherShipToAccountAvailable</name>
        <label>Only 1 other Ship To account available</label>
        <locationX>1872</locationX>
        <locationY>4134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignMethods</targetReference>
        </connector>
        <fields>
            <name>infoOneShipti</name>
            <fieldText>&lt;p&gt;You have chosen to ship to another customer (multiple ship to locations). On this account we could only find 1 other shipto. You can choose this one in the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOrderDetails</name>
        <label>Order Details</label>
        <locationX>1895</locationX>
        <locationY>3656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_useWarehouseReference_NULL</targetReference>
        </connector>
        <fields>
            <name>textContractDefaults</name>
            <fieldText>&lt;p&gt;These are the order defaults:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varContractUpdate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>choiceBillTo</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>getBillToDetails.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Bill To Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varBillToParty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>OrderFlowName__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>choiceShipTo</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Ship To Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varShipToParty</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>OrderFlowName__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputEnableMultipleShippingLocations</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varEnableLineItemShipping</elementReference>
            </defaultValue>
            <fieldText>Multiple Shipping Locations</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varNumberOfRelatedAccounts</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputShippingComplete</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varShipComplete</elementReference>
            </defaultValue>
            <fieldText>Only Ship Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shipping_Cost_Exempt</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varShippingCostExempt</elementReference>
            </defaultValue>
            <fieldText>Shipping Cost Exempt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenOrderDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenOrderDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>setWarehouseRefferenceToggle</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Use Warehouse reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Use shipping address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use Warehouse reference or Shipping address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>useWarehouseReference</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>useWarehouseReference</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>showWarehouseRefference</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(79, 79, 79);&quot;&gt;Warehouse Reference: {!getAccountDetails.WarehouseReference__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.WarehouseReference__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>picklistPricingMethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Pricebook2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPricingMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Pricing Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>PricingMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>showPaymentMethod</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(111, 111, 111);&quot;&gt;Payment Method: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!getBillToDetails.PaymentMethod__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>picklistOrderType2</name>
            <choiceReferences>choiceRegularOrder</choiceReferences>
            <choiceReferences>choiceServiceOrder</choiceReferences>
            <choiceReferences>choiceFreeOrder</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceRegularOrder</defaultSelectedChoiceReference>
            <fieldText>Order Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputShipByDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>formShipByDate</elementReference>
            </defaultValue>
            <fieldText>Ship By Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputCustomerReference</name>
            <dataType>String</dataType>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The maximum allowed number of characters for the Customer Reference is 45.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!inputCustomerReference}) &lt;= 45</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DefaultCourier</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(111, 111, 111);&quot;&gt;Default Courier:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!getBillToDetails.Courier__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liber</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DefaultDeliveryRouting</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(111, 111, 111);&quot;&gt;Default Delivery Routing:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!getBillToDetails.DeliveryRouting__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liber</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OverrideCourier</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Override Courier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liber</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>getAccountDetails.CountPreferredCouriers__c</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectedCourier</name>
            <choiceReferences>choicePreferredCourier</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Courier</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OverrideCourier</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputCourierInformation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getOrderDetails.CourierInformation__c</elementReference>
            </defaultValue>
            <fieldText>Courier Information</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Information to be printed on the parcel labels for the carriers and sometimes for the trade partners if they are picking up the goods at the warehouse with their own trucks.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); user-select: auto;&quot;&gt;The maximum allowed number of characters for the Courier Information is 200.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!inputCourierInformation}) &lt;= 200</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liber</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenOrderDetails_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenOrderDetails_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputDeliveryEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Delivery Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>getOrderDetails.DeliveryEmail__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screenOrderDetails_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputDeliveryPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Delivery Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>getOrderDetails.DeliveryPhone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getAccountDetails.OperatingCompany__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Liber</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenOrderOverview</name>
        <label>screenOrderOverview</label>
        <locationX>537</locationX>
        <locationY>3051</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionLineItemShipping_0</targetReference>
        </connector>
        <fields>
            <name>textOrderOverview</name>
            <fieldText>&lt;p&gt;You can change the values of the fields below. The chosen options are the values that are set on the order. Please note that we can not change the price book. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputUpdateOrderPricingMethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Choose a Pricing Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPricingMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>PricingMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputUpdateOrderPaymentMethod</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>PaymentMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Choose a Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPaymentMethod</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputUpdateOrderShippingCost</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>ShippingCostMethod__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Shipping Cost Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varShippingCostMethod</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputUpdateOrderType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>constantOrderype</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Choose an order type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>inputUpdateOrderShipComplete</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varShipComplete</elementReference>
            </defaultValue>
            <fieldText>Only Ship Complete</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>inputUpdateOrderMultipleShippingLocations</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varEnableLineItemShipping</elementReference>
            </defaultValue>
            <fieldText>Multiple Shipping Locations</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenOrderOverview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screenOrderOverview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>setUseWarehouseRefferenceOrder</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Use Warehouse reference or Shipping address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Use Warehouse reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Use Shipping address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>useWarehouseReference</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>useWarehouseReference</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>showWarehouseRefferenceOrder</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(79, 79, 79);&quot;&gt;Warehouse Refference:&amp;nbsp;{!getOrderDetails.WarehouseReference__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getOrderDetails.WarehouseReference__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inputUpdateOrderCustomerReference</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varCustomerReference</elementReference>
            </defaultValue>
            <fieldText>Customer Reference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputUpdateOrderStartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOrderStartDate</elementReference>
            </defaultValue>
            <fieldText>Choose an order start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputUpdateOrderEndDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varOrderEndDate</elementReference>
            </defaultValue>
            <fieldText>Choose an order end date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenUpdateThisOrder</name>
        <label>Would you like to update the current order?</label>
        <locationX>891</locationX>
        <locationY>1769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decisionUpdateOrCreate</targetReference>
        </connector>
        <fields>
            <name>textUpdateOrder</name>
            <fieldText>&lt;p&gt;You can update this order and change some details or go ahead and add order items to this order. &lt;/p&gt;&lt;p&gt;What would you like to do?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputUpdateOrderOrCreateOrderItems</name>
            <choiceReferences>choiceUpdateOrder</choiceReferences>
            <choiceReferences>choiceCreateOrderItems</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I would like to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1801</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>getObjectName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Flow called from the Create Contract flow</description>
        <name>subflowOrderProductSelector</name>
        <label>subflowOrderProductSelector</label>
        <locationX>2180</locationX>
        <locationY>4889</locationY>
        <flowName>Order_ProductSelector</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRenewal</name>
            <value>
                <elementReference>isContractRenewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractRequired</name>
            <value>
                <elementReference>IsContractRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExistingContract</name>
            <value>
                <elementReference>isExistingContract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isNewOrder</name>
            <value>
                <elementReference>isNewOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderId</name>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricebookId</name>
            <value>
                <elementReference>varPricebook</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PricingMethod</name>
            <value>
                <elementReference>varPricingMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MultipleShipToSelect</name>
            <value>
                <elementReference>varEnableLineItemShipping</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colAccountSelectionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colPricebooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>colSelectedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Default_Pricing_Method</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPricingTable__mdt</objectType>
    </variables>
    <variables>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContractAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This Pricebook object variable stores one or more pricebooks from the getPricebook Get (query) elements</description>
        <name>getPricebooks_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>isContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsContractRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isExistingContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isNewOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>useWarehouseReference</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBillToParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractPeriodType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContractTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varContractUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountCollections</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCourier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getBillToDetails.Courier__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCourierInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCourierWholeSalerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getBillToDetails.CourierWholeSalerId__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryRouting</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getBillToDetails.DeliveryRouting__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varEnableLineItemShipping</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLineItemShipping</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMarketSegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMarketSegments</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfRelatedAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOperatingCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOrderPricingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderPricingTable__mdt</objectType>
    </variables>
    <variables>
        <name>varOrderStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPalletRegistrationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPaymentMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebook</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPricingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSeasonDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShipComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingCostExempt</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getBillToDetails.ShippingCostExempt__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varShippingCostMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShipToParty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseRefference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
