flows/Order_ProductSelector.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetAccountSelectionForOrders</name>
        <label>GetAccountSelectionForOrders</label>
        <locationX>677</locationX>
        <locationY>2477</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ass_RequestTypeOrderShipto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MultipleShipto</name>
            <value>
                <elementReference>MultipleShipToSelect</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colAccountSelectionCollection</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>NewOrderReturnAccounts</name>
        <label>NewOrderReturnAccounts</label>
        <locationX>1107</locationX>
        <locationY>1781</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decAccountSize</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MultipleShipto</name>
            <value>
                <elementReference>MultipleShipToSelect</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricebookId</name>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ShiptoListSize</assignToReference>
            <name>AccountListSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>colAccountSelectionCollection</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_RemoveAccounts_OrderContract</name>
        <label>Order_RemoveAccounts_OrderContract</label>
        <locationX>778</locationX>
        <locationY>2658</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddAccountsToOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricebookId</name>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colAccountSelectionCollection</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_ReturnContractAccounts</name>
        <label>Order_ReturnContractAccounts</label>
        <locationX>1730</locationX>
        <locationY>1479</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decAccountSize</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MultipleShipto</name>
            <value>
                <elementReference>MultipleShipToSelect</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ShiptoListSize</assignToReference>
            <name>AccountListSize</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>colAccountSelectionCollection</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_ReturnContractAccounts2</name>
        <label>Order_ReturnContractAccounts2</label>
        <locationX>1015</locationX>
        <locationY>2478</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddAccountsToOrder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colSelectedAccounts</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_ReturnOrderAccounts</name>
        <label>Order_ReturnOrderAccounts</label>
        <locationX>693</locationX>
        <locationY>2874</locationY>
        <actionName>Order_ReturnContractAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAccountsForIdList</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MultipleShipto</name>
            <value>
                <elementReference>MultipleShipToSelect</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricebookId</name>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestType</name>
            <value>
                <elementReference>RequestType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>colSelectedAccounts</assignToReference>
            <name>ListOfAccounts</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_StructurediscountCalculationAction</name>
        <label>Order_StructurediscountCalculationAction</label>
        <locationX>1729</locationX>
        <locationY>3239</locationY>
        <actionName>Order_StructurediscountCalculation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decIFBillToNull</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContractId</name>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRenewal</name>
            <value>
                <elementReference>ContractRenewal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRequired</name>
            <value>
                <elementReference>ContractRequired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExistingContract</name>
            <value>
                <elementReference>ExistingContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListOfAccountIds</name>
            <value>
                <elementReference>lstAccountIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricingMethod</name>
            <value>
                <elementReference>PricingMethod</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varTotalPupils</assignToReference>
            <name>totalnumbers</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>RemoveAccountsfromOrder</name>
        <label>RemoveAccountsfromOrder</label>
        <locationX>1235</locationX>
        <locationY>2956</locationY>
        <actionName>Order_RemoveAccounts_OrderContract</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remove_Accounts_Final_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BilltoAccount</name>
            <value>
                <elementReference>varAccountBillto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRenewal</name>
            <value>
                <elementReference>ContractRenewal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContractRequired</name>
            <value>
                <elementReference>ContractRequired</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ExistingContract</name>
            <value>
                <elementReference>ExistingContract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ListOfAccountIds</name>
            <value>
                <elementReference>lstAccountIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricebookId</name>
            <value>
                <elementReference>PricebookId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PricingMethod</name>
            <value>
                <elementReference>PricingMethod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>ass_AddAccountsToOrder</name>
        <label>ass_AddAccountsToOrder</label>
        <locationX>1213</locationX>
        <locationY>2368</locationY>
        <assignmentItems>
            <assignToReference>colSelectedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dt_AddAccountsToOrder.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decUpdateRemove2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_ReqtypeOrder</name>
        <label>ass_ReqtypeOrder</label>
        <locationX>798</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewOrderReturnAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_RequestTypeAccountShipto</name>
        <label>ass_RequestTypeAccountShipto</label>
        <locationX>516</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AccountShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountSelectionForOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_RequestTypeOrderShipto</name>
        <label>ass_RequestTypeOrderShipto</label>
        <locationX>842</locationX>
        <locationY>2479</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_ReturnContractAccounts2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_RequestTypeRemoveAccount</name>
        <label>ass_RequestTypeRemoveAccount</label>
        <locationX>539</locationX>
        <locationY>2656</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_RemoveAccounts_OrderContract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assActualBillto</name>
        <label>assActualBillto</label>
        <locationX>1941</locationX>
        <locationY>3706</locationY>
        <assignmentItems>
            <assignToReference>varAccountBillto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getBilltoIFNotNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductSelectFooter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assContractId</name>
        <label>assContractId</label>
        <locationX>223</locationX>
        <locationY>2334</locationY>
        <assignmentItems>
            <assignToReference>ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOrderToPopulateContractId.Contract.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assContractNotRequired</name>
        <label>assContractNotRequired</label>
        <locationX>617</locationX>
        <locationY>798</locationY>
        <assignmentItems>
            <assignToReference>ContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBilltoAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assContractRequired</name>
        <label>assContractRequired</label>
        <locationX>1402</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>ContractRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOrderToPopulateContractId.ContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBilltoAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountIDToList</name>
        <label>AssignAccountIDToList</label>
        <locationX>2016</locationX>
        <locationY>2753</locationY>
        <assignmentItems>
            <assignToReference>lstAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAccountsForIdList.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccountsForIdList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBilltoAccount</name>
        <label>AssignBilltoAccount</label>
        <locationX>1039</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>varAccountBillto</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBilltoAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decGetAccountsRequestType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPupilstoPupilsTotal</name>
        <label>assignPupilstoPupilsTotal</label>
        <locationX>2171</locationX>
        <locationY>2367</locationY>
        <assignmentItems>
            <assignToReference>varTotalPupils</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopCountPupils.NumberofStudents__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCountPupils</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSelectedAccountsToCollection</name>
        <label>assignSelectedAccountsToCollection</label>
        <locationX>1720</locationX>
        <locationY>1997</locationY>
        <assignmentItems>
            <assignToReference>colSelectedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>differentMultiShipTo.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCountPupils</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRequestTypeAccount</name>
        <label>assRequestTypeAccount</label>
        <locationX>1469</locationX>
        <locationY>1347</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_ReturnContractAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assRequestTypeContract</name>
        <label>assRequestTypeContract</label>
        <locationX>1984</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assRequestTypeOrder</name>
        <label>assRequestTypeOrder</label>
        <locationX>395</locationX>
        <locationY>2874</locationY>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderShipto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_ReturnOrderAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssSingleAccountToSelectedList</name>
        <label>AssSingleAccountToSelectedList</label>
        <locationX>2339</locationX>
        <locationY>1995</locationY>
        <assignmentItems>
            <assignToReference>colSelectedAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colAccountSelectionCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCountPupils</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assZeroToPupilsCount</name>
        <label>assZeroToPupilsCount</label>
        <locationX>2012</locationX>
        <locationY>2444</locationY>
        <assignmentItems>
            <assignToReference>varTotalPupils</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCountPupils</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bool_AddAccounts</name>
        <choiceText>Add Accounts</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Bool_OrderEdit</name>
        <choiceText>Update Existing Order</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Bool_RemoveAccount</name>
        <choiceText>Remove Accounts</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>dec_IsnewOrder</name>
        <label>dec_IsnewOrder</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNewOrderTrue</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderToPopulateContractId.ShiptoCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_ReqtypeOrder</targetReference>
            </connector>
            <label>isNewOrderTrue</label>
        </rules>
        <rules>
            <name>isNewOrderFalse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderToPopulateContractId.ShiptoCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decUpdatingOrder</targetReference>
            </connector>
            <label>isNewOrderFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAccountSize</name>
        <label>decAccountSize</label>
        <locationX>1708</locationX>
        <locationY>1658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShiptoListSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultipleShipToSelect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenAccountInformation</targetReference>
            </connector>
            <label>GreaterThan1</label>
        </rules>
        <rules>
            <name>EqualsTo1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ShiptoListSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MultipleShipToSelect</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssSingleAccountToSelectedList</targetReference>
            </connector>
            <label>EqualsTo1</label>
        </rules>
    </decisions>
    <decisions>
        <name>decContractRequired</name>
        <label>decContractRequired</label>
        <locationX>1021</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isContractRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assContractRequired</targetReference>
            </connector>
            <label>isContractRequired</label>
        </rules>
        <rules>
            <name>isContractNOTRequired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assContractNotRequired</targetReference>
            </connector>
            <label>isContractNOTRequired</label>
        </rules>
    </decisions>
    <decisions>
        <name>decGetAccountsRequestType</name>
        <label>decGetAccountsRequestType</label>
        <locationX>1030</locationX>
        <locationY>1347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decGetAccountsOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderToPopulateContractId</targetReference>
            </connector>
            <label>decGetAccountsOrder</label>
        </rules>
        <rules>
            <name>decGetAccountsPurchasingGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assRequestTypeAccount</targetReference>
            </connector>
            <label>decGetAccountsPurchasingGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIFBillToNull</name>
        <label>decIFBillToNull</label>
        <locationX>1703</locationX>
        <locationY>3433</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IFBillToNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountBillto.DefaultBillto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductSelectFooter</targetReference>
            </connector>
            <label>IFBillToNull</label>
        </rules>
        <rules>
            <name>IFBillToNOTNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountBillto.DefaultBillto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getBilltoIFNotNull</targetReference>
            </connector>
            <label>IFBillToNOTNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>decNumberofPupilsCount</name>
        <label>decNumberofPupilsCount</label>
        <locationX>1930</locationX>
        <locationY>2643</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NumberOfPupilsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCountPupils.NumberofStudents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assZeroToPupilsCount</targetReference>
            </connector>
            <label>NumberOfPupilsNull</label>
        </rules>
        <rules>
            <name>NumberofStudentsNOTNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCountPupils.NumberofStudents__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPupilstoPupilsTotal</targetReference>
            </connector>
            <label>NumberofStudentsNOTNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdateRemove2</name>
        <label>decUpdateRemove2</label>
        <locationX>1407</locationX>
        <locationY>2369</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCountPupils</targetReference>
            </connector>
            <label>UpdateOrder</label>
        </rules>
        <rules>
            <name>RemoveAccounts2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAccountsForIdList</targetReference>
            </connector>
            <label>RemoveAccounts2</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdateRemove3</name>
        <label>decUpdateRemove3</label>
        <locationX>1564</locationX>
        <locationY>2954</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateOrder3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EditOrderFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_StructurediscountCalculationAction</targetReference>
            </connector>
            <label>UpdateOrder3</label>
        </rules>
        <rules>
            <name>RemoveAccounts3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>deleteAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemoveAccountsfromOrder</targetReference>
            </connector>
            <label>RemoveAccounts3</label>
        </rules>
        <rules>
            <name>NewOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_StructurediscountCalculationAction</targetReference>
            </connector>
            <label>NewOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>decUpdatingOrder</name>
        <label>decUpdatingOrder</label>
        <locationX>63</locationX>
        <locationY>2630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateExistingOrder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bool_OrderEdit</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EditOrderFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assRequestTypeOrder</targetReference>
            </connector>
            <label>UpdateExistingOrder</label>
        </rules>
        <rules>
            <name>AddShiptoOrder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bool_AddAccounts</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AddAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_RequestTypeAccountShipto</targetReference>
            </connector>
            <label>AddShiptoOrder</label>
        </rules>
        <rules>
            <name>RemoveAccounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Bool_RemoveAccount</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>deleteAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ass_RequestTypeRemoveAccount</targetReference>
            </connector>
            <label>RemoveAccounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderActivationCheck</name>
        <label>OrderActivationCheck</label>
        <locationX>781</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>decContractRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Isactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderForStatus.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderIsActivated</targetReference>
            </connector>
            <label>Isactivated</label>
        </rules>
    </decisions>
    <description>20210407: Updated the label for ship to selections. Removed the Select different shipto option. When you get there, there is always a different shipto.</description>
    <interviewLabel>Order_ProductSelecttor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order_ProductSelector</label>
    <loops>
        <name>LoopAccountsForIdList</name>
        <label>LoopAccountsForIdList</label>
        <locationX>1568</locationX>
        <locationY>2752</locationY>
        <collectionReference>colSelectedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAccountIDToList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decUpdateRemove3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCountPupils</name>
        <label>loopCountPupils</label>
        <locationX>1695</locationX>
        <locationY>2362</locationY>
        <collectionReference>colSelectedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decNumberofPupilsCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopAccountsForIdList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetBilltoAccount</name>
        <label>GetBilltoAccount</label>
        <locationX>1025</locationX>
        <locationY>937</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignBilltoAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getBilltoIFNotNull</name>
        <label>getBilltoIFNotNull</label>
        <locationX>1986</locationX>
        <locationY>3537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assActualBillto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountBillto.DefaultBillto__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderForStatus</name>
        <label>GetOrderForStatus</label>
        <locationX>796</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderActivationCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderToPopulateContractId</name>
        <label>GetOrderToPopulateContractId</label>
        <locationX>58</locationX>
        <locationY>1400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_IsnewOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>AddAccountsToOrder</name>
        <label>AddAccountsToOrder</label>
        <locationX>1213</locationX>
        <locationY>2574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ass_AddAccountsToOrder</targetReference>
        </connector>
        <fields>
            <name>dt_AddAccountsToOrder</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>name, ShippingStreet,ShippingCity,	ExternalCustomerId__c,NumberofStudents__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAccountSelectionCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrderIsActivated</name>
        <label>OrderIsActivated</label>
        <locationX>243</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OrderIsactivatedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We can not edit orders that have been activated. This order has already been sent to NetSuite for processing. Please create a new order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductSelectFooter</name>
        <label>ProductSelectFooter</label>
        <locationX>1715</locationX>
        <locationY>3774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SelectProductForOrder</name>
            <extensionName>c:NewProductSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ContractId</name>
                <value>
                    <elementReference>ContractId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TotalNumberofStudents</name>
                <value>
                    <elementReference>varTotalPupils</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountsData</name>
                <value>
                    <elementReference>colSelectedAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PricebookId</name>
                <value>
                    <elementReference>PricebookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ContractRenewal</name>
                <value>
                    <elementReference>ContractRenewal</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ExistingContract</name>
                <value>
                    <elementReference>ExistingContract</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PricingMethod</name>
                <value>
                    <elementReference>PricingMethod</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderId</name>
                <value>
                    <elementReference>OrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>BillToAccountPriceGroup</name>
                <value>
                    <elementReference>varAccountBillto.CustomerDiscountGroup__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>BillToAccount</name>
                <value>
                    <elementReference>GetBilltoAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remove_Accounts_Final_Screen</name>
        <label>Remove Accounts Final Screen</label>
        <locationX>1024</locationX>
        <locationY>3257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Remove_Message</name>
            <fieldText>&lt;p&gt;Accounts Removed from Order&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenAccountInformation</name>
        <label>screenAccountInformation</label>
        <locationX>1723</locationX>
        <locationY>1847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignSelectedAccountsToCollection</targetReference>
        </connector>
        <fields>
            <name>differentMultiShipTo</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colAccountSelectionCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>name, ShippingStreet,ShippingCity,	ExternalCustomerId__c,NumberofStudents__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select one or more Ship To&apos;s</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenShowPupils</name>
        <label>screenShowPupils</label>
        <locationX>2422</locationX>
        <locationY>2223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>informationPupils</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We are going to calculate prices based on {!varTotalPupils} pupils/students.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Accounts</name>
        <label>Select Accounts</label>
        <locationX>413</locationX>
        <locationY>2189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assContractId</targetReference>
        </connector>
        <fields>
            <name>Account_Selection_Type</name>
            <choiceReferences>Bool_AddAccounts</choiceReferences>
            <choiceReferences>Bool_RemoveAccount</choiceReferences>
            <choiceReferences>Bool_OrderEdit</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Account Selection Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TotalNumbersDisplaySPD</name>
        <label>TotalNumbersSPD</label>
        <locationX>2033</locationX>
        <locationY>3241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TotalNumbersSPD</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Total Numbers for Strcutured price Discount: {!varTotalPupils}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>900</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOrderForStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AddAccounts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colAccountSelectionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colSelectedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractRenewal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>deleteAccounts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EditOrderFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isNewOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultipleShipToSelect</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShiptoListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAccountBillto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varTotalPupils</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
