flows/Order_Handler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>bg_AllObjectInvocableHandler</name>
        <label>bg_AllObjectInvocableHandler</label>
        <locationX>2516</locationX>
        <locationY>985</locationY>
        <actionName>bg_AllObjectInvocableHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NS_NetSuite</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>RecordIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NS_NetSuite</name>
        <label>NS_NetSuite</label>
        <locationX>2253</locationX>
        <locationY>1183</locationY>
        <actionName>NS_NetSuite</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Activated_variables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_ActivateAPISendOrderItems</name>
        <label>Order_ActivateAPISendOrderItems</label>
        <locationX>1652</locationX>
        <locationY>825</locationY>
        <actionName>Order_ActivateAPISendOrderItems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ActivateOrderSwitch</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_B2BOrderInvocable</name>
        <label>Order_B2BOrderInvocable</label>
        <locationX>1732</locationX>
        <locationY>666</locationY>
        <actionName>Order_B2BOrderInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_OrdeItemFromOrderTypeChange</name>
        <label>Order_OrdeItemFromOrderTypeChange</label>
        <locationX>1312</locationX>
        <locationY>50</locationY>
        <actionName>Order_OrdeItemFromOrderTypeChange</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrderLineItemType</name>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Order_OrderandOrdeItemHandler</name>
        <label>Order_OrderandOrdeItemHandler</label>
        <locationX>676</locationX>
        <locationY>626</locationY>
        <actionName>Order_OrderandOrdeItemHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIdStrings</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assBillingEmail</name>
        <label>assBillingEmail</label>
        <locationX>1111</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decNotificationEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Activated_variables</name>
        <label>Assign Activated variables</label>
        <locationX>2018</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>$Record.IntegrationFactorySend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_B2B_Orders</name>
        <label>Assign B2B Orders</label>
        <locationX>1542</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>$Record.TriggerBusinessRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_B2BOrderInvocable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Free_Orders</name>
        <label>Assign Free Orders</label>
        <locationX>1169</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderTypeJobRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_OrdeItemFromOrderTypeChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_start_date</name>
        <label>Assign Order start date</label>
        <locationX>888</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShipbyDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_OrderandOrdeItemHandler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Variables</name>
        <label>Assign Order Variables</label>
        <locationX>459</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingReminderEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingReminderEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoiceEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.InvoicingEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoiceEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.InvoiceEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OrderNotificationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OrderNotificationEmail2__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Regular_Orders</name>
        <label>Assign Regular Orders</label>
        <locationX>1322</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderTypeJobRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_OrdeItemFromOrderTypeChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Orders</name>
        <label>Assign Service Orders</label>
        <locationX>1482</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderTypeJobRun__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_OrdeItemFromOrderTypeChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDigitalEmail</name>
        <label>assignDigitalEmail</label>
        <locationX>1091</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>$Record.DigitalActivationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.DigitalActivationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decInvoiceEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderNumberId</name>
        <label>Assign OrderNumberId</label>
        <locationX>1104</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderNumberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PriceBookShippingComplete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderShipComplete</name>
        <label>Assign Order Ship Complete</label>
        <locationX>1507</locationX>
        <locationY>1409</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShipComplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assInvoiceEmail</name>
        <label>assInvoiceEmail</label>
        <locationX>1095</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>$Record.InvoiceEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billto__r.InvoicingEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.InvoiceEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billto__r.InvoiceEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decBillingEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assNotificationEmail</name>
        <label>assNotificationEmail</label>
        <locationX>701</locationX>
        <locationY>1505</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipto__r.OrderNotificationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Shipto__r.OrderNotificationEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOrderNumberId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assNotificationEmail_0</name>
        <label>assNotificationEmail</label>
        <locationX>576</locationX>
        <locationY>1509</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OrderNotificationEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderNotificationEmail2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.OrderNotificationEmail2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOrderNumberId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ActivateForBatchProcessing_False</name>
        <label>Set ActivateForBatchProcessing False</label>
        <locationX>1287</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>$Record.ActivateforBatchProcessing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decActivationEmail</name>
        <label>decActivationEmail</label>
        <locationX>691</locationX>
        <locationY>808</locationY>
        <defaultConnector>
            <targetReference>decInvoiceEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>digitalActivationEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DigitalActivationEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDigitalEmail</targetReference>
            </connector>
            <label>digitalActivationEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>decBillingEmail</name>
        <label>decBillingEmail</label>
        <locationX>677</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>decNotificationEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BillingEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingReminderEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assBillingEmail</targetReference>
            </connector>
            <label>BillingEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>decInvoiceEmail</name>
        <label>decInvoiceEmail</label>
        <locationX>679</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>decBillingEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InvoiceEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InvoiceEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assInvoiceEmail</targetReference>
            </connector>
            <label>InvoiceEmail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1297</locationX>
        <locationY>729</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decActivationEmail</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Activated_Integration0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IntegrationFactorySend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IntegrationFactorySend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_ActivateAPISendOrderItems</targetReference>
            </connector>
            <label>Activated &amp; Integration</label>
        </rules>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_ActivateAPISendOrderItems</targetReference>
            </connector>
            <label>Activated</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivateforBatchProcessing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ActivateForBatchProcessing_False</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
        <rules>
            <name>Free_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderTypeJobRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FreeOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LineCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Free_Orders</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Free_Orders</targetReference>
            </connector>
            <label>Free Orders</label>
        </rules>
        <rules>
            <name>Regular_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderTypeJobRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RegularOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LineCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Regular_Orders</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Regular_Orders</targetReference>
            </connector>
            <label>Regular Orders</label>
        </rules>
        <rules>
            <name>Service_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderTypeJobRun__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ServiceOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LineCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Service_Orders</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Orders</targetReference>
            </connector>
            <label>Service Orders</label>
        </rules>
        <rules>
            <name>B2B_Orders</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_B2B_Orders</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TriggerBusinessRules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ShippingCostMethodNS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ShippingCostMethodNS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_B2B_Orders</targetReference>
            </connector>
            <label>B2B Orders</label>
        </rules>
        <rules>
            <name>ShipByDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShipbyDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Order_start_date</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShipbyDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_start_date</targetReference>
            </connector>
            <label>ShipByDate</label>
        </rules>
    </decisions>
    <decisions>
        <name>decNotificationEmail</name>
        <label>decNotificationEmail</label>
        <locationX>680</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>AssignOrderNumberId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotificationEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderNotificationEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assNotificationEmail</targetReference>
            </connector>
            <label>NotificationEmail - Ship To Email</label>
        </rules>
        <rules>
            <name>NotificationEmail_Account_Order_Notification_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderNotificationEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assNotificationEmail_0</targetReference>
            </connector>
            <label>NotificationEmail - Account Order Notification Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Isactive</name>
        <label>Isactive</label>
        <locationX>2204</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_Activated_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ActiveTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivateOrderSwitch.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bg_AllObjectInvocableHandler</targetReference>
            </connector>
            <label>ActiveTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>PriceBookShippingComplete</name>
        <label>Price Book Shipping Complete?</label>
        <locationX>1260</locationX>
        <locationY>1324</locationY>
        <defaultConnector>
            <targetReference>Update_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShippingCompleteTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2.ShippingComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.ShipComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOrderShipComplete</targetReference>
            </connector>
            <label>Shipping Complete True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ship_Complete</name>
        <label>Ship Complete</label>
        <locationX>853</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShipComplete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShipComplete_True</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>CH 2022/05/24: Fixed communication email assignment</description>
    <environments>Default</environments>
    <interviewLabel>Order Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ActivateOrderSwitch</name>
        <label>ActivateOrderSwitch</label>
        <locationX>1964</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Isactive</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AWSSwitches__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ShipComplete_True</name>
        <label>ShipComplete True</label>
        <locationX>808</locationX>
        <locationY>381</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeliveryType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wait for full delivery</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliveryType__c</field>
            <value>
                <stringValue>Wait for full delivery</stringValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1507</locationX>
        <locationY>1248</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varapex_StoreShippingCost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;recordId&quot;:&quot;{!$Record.Id}&quot;
}</text>
    </textTemplates>
</Flow>
